/* Text Styles */
hr { color: #000000}
body, table, tr, th /* Normal */
{
 font-size: 15px;
 font-family: Arial;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.f_BodyText /* Body Text */
{
}
span.f_Callout /* Callout */
{
 font-size: 13px;
 font-family: Verdana;
 letter-spacing: -1px;
}
span.f_Code /* Code */
{
 font-family: Fixedsys;
 letter-spacing: -1px;
}
span.f_CodeExample /* Code Example */
{
 font-size: 11px;
 font-family: 'Courier New';
}
span.f_Comment /* Comment */
{
}
span.f_Header /* Header */
{
 font-size: 19px;
 font-weight: bold;
 color: #000080;
}
span.f_heading1 /* heading 1 */
{
 font-size: 16px;
 font-family: 'Trebuchet MS';
 font-weight: bold;
 color: #3e3e67;
}
span.f_heading2 /* heading 2 */
{
 font-size: 16px;
 font-family: 'Trebuchet MS';
 color: #3e3e67;
}
span.f_heading3 /* heading 3 */
{
 font-size: 16px;
 font-family: 'Trebuchet MS';
 color: #53548a;
}
span.f_heading4 /* heading 4 */
{
 font-size: 16px;
 font-family: 'Trebuchet MS';
 font-style: italic;
 color: #53548a;
}
span.f_heading5 /* heading 5 */
{
 font-family: 'Trebuchet MS';
 color: #53548a;
}
span.f_HeadingHowTo /* Heading HowTo */
{
 font-size: 17px;
 font-weight: bold;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 21px;
 font-weight: bold;
 color: #ffffff;
}
span.f_HowToBody /* HowTo Body */
{
}
span.f_HowToNumbered /* HowTo Numbered */
{
}
span.f_Hyperlink /* Hyperlink */
{
 font-size: 13px;
 color: #67afbd;
 text-decoration: underline;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 12px;
 font-family: Verdana;
 font-style: italic;
}
span.f_IndentList3 /* IndentList3 */
{
}
span.f_ListParagraph /* List Paragraph */
{
}
span.f_NormalHead /* Normal Head */
{
 font-weight: bold;
}
span.f_Notes /* Notes */
{
}
span.f_Subheader /* Subheader */
{
 font-size: 16px;
 font-weight: bold;
 color: #000080;
}
span.f_T_Code /* T_Code */
{
 font-family: 'Courier New';
 letter-spacing: -1px;
}
span.f_T_Entry /* T_Entry */
{
 font-family: Verdana;
 font-style: italic;
 letter-spacing: -1px;
}
span.f_T_Entry10pt /* T_Entry 10pt */
{
 font-size: 13px;
 font-family: Verdana;
 font-style: italic;
 letter-spacing: -1px;
}
span.f_T_Menu /* T_Menu */
{
 font-size: 13px;
 font-family: Verdana;
 font-weight: bold;
 letter-spacing: -1px;
}
span.f_T_Menu10p /* T_Menu 10p */
{
 font-size: 13px;
 font-family: Verdana;
 font-weight: bold;
}
span.f_T_ToggleLink /* T_ToggleLink */
{
 font-size: 13px;
 font-family: Tahoma;
 font-weight: bold;
}
span.f_T_Toggletext /* T_Toggletext */
{
 font-size: 13px;
 font-family: 'Times New Roman';
 font-style: italic;
 background-color: #ffffbb;
}
span.f_Title /* Title */
{
 font-size: 40px;
 font-family: 'Trebuchet MS';
 font-style: italic;
 color: #292944;
}
span.f_toc1 /* toc 1 */
{
}
span.f_toc2 /* toc 2 */
{
}
span.f_toc3 /* toc 3 */
{
}
span.f_TOCHeading /* TOC Heading */
{
 font-size: 16px;
 font-family: 'Trebuchet MS';
 font-weight: bold;
 color: #3e3e67;
}
/* Paragraph styles */
p /* Normal */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 10px 0px;
}
.p_BodyText /* Body Text */
{
}
.p_Callout /* Callout */
{
 text-indent: -23px;
 margin: 0px 100px 10px 83px;
}
.p_Code /* Code */
{
 margin: 0px 0px 0px 0px;
}
.p_CodeExample /* Code Example */
{
 white-space: nowrap;
 margin: 0px 0px 0px 0px;
}
.p_Comment /* Comment */
{
 text-align: center;
}
.p_Header /* Header */
{
 margin: 12px 0px 10px 0px;
}
.p_heading1 /* heading 1 */
{
 border-color: #3e3e67;
 border-style: solid;
 border-width: 2px;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 1px 1px 1px 1px;
 margin: 39px 0px 4px 0px;
}
.p_heading2 /* heading 2 */
{
 border-color: #53548a;
 border-style: solid;
 border-width: 0px;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 1px 1px 1px 1px;
 margin: 12px -1px 4px -1px;
}
.p_heading3 /* heading 3 */
{
 border-color: #9293bd;
 border-style: solid;
 border-width: 0px;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 1px 1px 1px 1px;
 margin: 12px -1px 4px -1px;
}
.p_heading4 /* heading 4 */
{
 border-color: #b6b7d3;
 border-style: solid;
 border-width: 0px;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 3px 3px 3px 3px;
 margin: 10px -3px 2px -3px;
}
.p_heading5 /* heading 5 */
{
 margin: 13px 0px 5px 0px;
}
.p_HeadingHowTo /* Heading HowTo */
{
 border-color: #cdfefd;
 border-style: solid;
 border-width: 5px;
 background: #cdfefd;
 margin: 20px 0px 15px 0px;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.p_HowToBody /* HowTo Body */
{
 margin: 0px 0px 10px 24px;
}
.p_HowToNumbered /* HowTo Numbered */
{
 text-indent: -24px;
 margin: 0px 0px 10px 48px;
}
.p_ImageCaption /* Image Caption */
{
}
.p_IndentList3 /* IndentList3 */
{
 margin: 0px 0px 10px 60px;
}
.p_ListParagraph /* List Paragraph */
{
 margin: 0px 0px 10px 48px;
}
.p_NormalHead /* Normal Head */
{
 margin: 5px 0px 5px 0px;
}
.p_Notes /* Notes */
{
}
.p_Subheader /* Subheader */
{
 margin: 5px 0px 10px 0px;
}
.p_T_Toggletext /* T_Toggletext */
{
 background: #ffffbb;
 margin: 0px 0px 0px 0px;
}
.p_Title /* Title */
{
 text-align: center;
 border-color: #a5a5c9;
 border-style: solid;
 border-width: 0px;
 border-right: none;
 border-left: none;
 padding: 20px 20px 20px 20px;
 margin: -7px -20px 0px -20px;
}
.p_toc1 /* toc 1 */
{
 margin: 0px 0px 7px 0px;
}
.p_toc2 /* toc 2 */
{
 margin: 0px 0px 7px 15px;
}
.p_toc3 /* toc 3 */
{
 margin: 0px 0px 7px 29px;
}
.p_TOCHeading /* TOC Heading */
{
 border-color: #3e3e67;
 border-style: solid;
 border-width: 2px;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 1px 1px 1px 1px;
 margin: 39px 0px 4px 0px;
}


#hmpopupdiv /* used for javascript text popups */
{
  display: none;
  position: absolute;
  z-index: 1000;
  background-color: #FFFFFF;
  padding: 3px;
  border:1px solid #FF0000;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
}

#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}
